* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 95%);
  font-family: "Lexend Deca";
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 80%;
}
.card-1,
.card-2,
.card-3 {
  width: 30%;
  height: 380px;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.logo {
  margin-bottom: 20px;
}

.card-1 {
  background-color: hsl(31, 77%, 52%);
  border-radius: 6px 0 0 6px;
}
.card-2 {
  background-color: hsl(184, 100%, 22%);
}
.card-3 {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 6px 6px 0;
}

.heading {
  font-family: "Big Shoulders Display", sans-serif;
  font-style: normal;
  margin-bottom: 20px;
}

.article-para {
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.6;
  height: 170px;
}

.card-btn {
  background-color: white;
  color: hsl(31, 77%, 52%);
  padding: 10px 28px;
  border: 1px solid white;
  border-radius: 30px;
  font-family: "Lexend Deca";
  font-weight: bold;
}

.card-btn:hover {
  background-color: hsl(31, 77%, 52%);
  color: white;
}

#luxury-btn {
  color: hsl(179, 100%, 13%);
}
#suvs-btn {
  color: hsl(184, 100%, 22%);
}
#luxury-btn:hover {
  background-color: hsl(179, 100%, 13%);
  color: white;
}
#suvs-btn:hover {
  background-color: hsl(184, 100%, 22%);
  color: white;
}

@media (max-width: 1000px) {
  #container {
    flex-direction: column;
    width: 100%;
  }
  .card-1,
  .card-2,
  .card-3 {
    width: 100%;
    max-width: 350px;
    height: unset;
  }
  .card-1 {
    border-radius: 10px 10px 0 0;
  }
  .card-3 {
    border-radius: 0 0 10px 10px;
  }
  .article-para {
    height: unset;
  }
  .card-btn {
    margin-top: 30px;
  }
}

@media (max-width: 500px) {
  #container {
    margin: 20px;
  }
  .card-1,
  .card-2,
  .card-3 {
    width: 90%;
  }
}
